<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro"  name="game_field">

<xacro:arg name ='team' default = 'blue'/>
<xacro:property name = 'team' value = "$(arg team)"/>

<xacro:if value="${team == 'red'}">
<joint name = "map_joint" type = "fixed">
<parent link = "field_base"/>
<child link = "map"/>
<origin xyz = "-8.5780 0 0" rpy = "0 0 -1.57075"/>
</joint>
</xacro:if>

<xacro:if value="${team == 'blue'}">
<joint name = "map_joint" type = "fixed">
<parent link = "field_base"/>
<child link = "map"/>
<origin xyz = "0 0 0" rpy = "0 0 -1.57075"/>
</joint>
</xacro:if>

<link name = "map">
<visual>
<origin xyz = "0 0 0"/>
</visual>
</link>
</robot>
